<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a id="brand" class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="far fa-dot-circle"></i> </span>
    </button>
    <div class="collapse navbar-collapse float-end " id="navbarNavDropdown">
      <ul class="navbar-nav d-flex float-end">
        <li class="nav-item  me-5">
          <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-bolt"></i> Electricity </a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" href="#">  <i class="fas fa-globe-europe"></i> Data bundles</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" href="/airtime"> <i class="fas fa-phone-volume"></i> Airtime</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" href="#"><i class="fas fa-user-plus"></i> Signup</a>
        </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="#"> <i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
        
          </ul>
        </li>
    </div>
  </div>
</nav>